---
import type React from "react";
import { SpotifyIcon } from "./Icons";
import { ProjectCard } from "./ProjectCard";
import type { ReactNode } from "react";

export interface Projects {
  name: string;
  tecnologies: string[];
  urlWeb: string;
  urlGithub: string;
  img: string;
}
export const projets: Projects[] = [
  {
    name: "Google Drive Clon",
    tecnologies: ["NestJs, React, TypeScript"],

    img: "./imgs/googdrive.svg",
    urlWeb: "",
    urlGithub: "https://github.com/wquiala/frontend-fullstack-test",
  },
  {
    name: "Journal App",
    tecnologies: ["React, Material UI, TypeScript"],

    img: "./imgs/calendar.svg",
    urlWeb: "",
    urlGithub: "https://github.com/wquiala/Journal-App",
  },
  {
    name: "Spotify Clon",
    tecnologies: ["React, Astro, TypeScript"],
    img: "./imgs/spotify.svg",
    urlWeb: "",
    urlGithub: "",
  },
  {
    name: "GIF Expert",
    tecnologies: ["React, Material UI, TypeScript"],
    img: "./imgs/gift.svg",
    urlWeb: "",
    urlGithub: "",
  },
  {
    name: "Heroes APP",
    tecnologies: ["React, Material UI, TypeScript"],
    urlWeb: "https://heroes-app-iota.vercel.app/",
    img: "./imgs/heroes.svg",
    urlGithub: "https://github.com/wquiala/HeroesApp",
  },
];
---

<div class="flex flex-col w-full gap-7 mt-7">
  <h1 class="font-extrabold text-4xl text-blue-400">Proyectos</h1>
  <div class="grid grid-cols-4 gap-5 justify-items-center">
    {
      projets.map((p) => (
        <div class="card">
          <ProjectCard
            name={p.name}
            urlWeb={p.urlWeb}
            urlGithub={p.urlGithub}
            tecnologies={p.tecnologies}
            img={p.img}
          />
        </div>
      ))
    }
  </div>
</div>

<style is:global>
  .card {
    animation: revealCar linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 30%;
  }
  @keyframes revealCar {
    from {
      opacity: 0;
      translate: 0 100px;
      scale: 0.5;
    }
    to {
      opacity: 1;
      translate: 0 0;
      scale: 1;
    }
  }
</style>
